<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="max-width:2000px;margin-top:46px">
    {{{body}}}
  </body>
</html>
