extends layout

block content

    div
     h2=name
     h2=email
     h3=comments
    div(class='nav')
        a(href='./') index
        br
        a(href='./about') about
        br
        a(href='./form') form
    